.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.currentPage {
  font-size: 24px;
  font-weight: 500;
}
.userContainer {
  display: flex;
  align-items: center;
  span {
    font-size: 24px;
    font-weight: 500;
  }
}
