@import 'styles/theme.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .pagination {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    .paginationArrow {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0px 6px;
      user-select: none;
    }
    .disabledArrow {
      pointer-events: none;
    }
    .rotate {
      transform: rotate(180deg);
    }
    .paginationBtn {
      cursor: pointer;
      border-radius: 4px;
      height: 32px;
      min-width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 2px;
      padding: 0px 6px;
      font-size: 16px;
      font-weight: 600;
      user-select: none;
      &:hover {
        background-color: $secondary;
      }
    }
    .active {
      background-color: $primary;
    }
    .active:hover {
      background-color: $primary;
    }
  }
  .showing {
    position: absolute;
    left: 16px;
  }
}
