@import 'styles/theme.scss';

.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}
.text {
  font-size: 18px;
  font-weight: 400;
}
.white {
  color: white;
}
.gray {
  color: $gray;
}
