@import 'styles/theme.scss';

.container {
  background-color: $backgroundGray;
  border-radius: 12px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transparent {
  background-color: transparent;
}

.title {
  padding: 16px 16px 8px;
  //border-bottom: 1px solid $gray;
}
.transparentTitle {
  padding: 0px;
  padding-bottom: 4px;
}

.withPadding {
  padding: 16px;
  padding-top: 0px;
}
