@import 'styles/theme.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    background-color: $backgroundGray;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
  }
  .link {
    color: $primary;
    &:hover {
      text-decoration: underline;
    }
  }
}
