@import 'styles/theme.scss';

.rTTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transactionContainer {
  border-top: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin-top: -1px;
  .nameContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .date {
      text-align: center;
    }
    .actionType {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 2px solid $primary;
      color: $primary;
      font-size: 13px;
      font-weight: 500;
      padding: 6px;
      line-height: 40px;
      width: 40px;
      height: 40px;
    }
  }
  .priceContainer {
    text-align: end;
  }
}
