@import 'styles/theme.scss';

.rTTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transactionContainer {
  border-top: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin-top: -1px;
  .nameContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .date {
      text-align: center;
    }
    .description {
      @media all and (max-width: 550px) {
        display: none;
      }
    }
    .actionType {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 2px solid $primary;
      color: $primary;
      font-size: 13px;
      font-weight: 500;
      padding: 6px;
      line-height: 40px;
      width: 40px;
      height: 40px;
    }
  }
  .priceContainer {
    text-align: end;
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-top: 1px solid $gray;
}

.actionTypeShimmer {
  background-color: $secondary;
  height: 45.33px;
  width: 45.33px;
  border-radius: 100%;
}
.contentShimmer {
  width: 100%;
  height: 45.33px;
  background-color: $secondary;
  border-radius: 6px;
  margin-left: 10px;
}
.withPadding {
  padding: 16px;
  padding-top: 0px;
}
