@import 'styles/theme.scss';

.rTTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.errorContainer {
  padding: 16px;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-top: 1px solid $gray;
}
