@import 'styles/theme.scss';

.rTTitle {
  display: flex;
  //align-items: center;
  justify-content: space-between;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}
.errorContainer {
  padding: 16px;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-top: 1px solid $gray;
}
