@import 'styles/theme.scss';

.button {
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  border: 0;
  padding: 8px 16px;
}
.fullWidth {
  padding: 16px;
  width: 100%;
}
.primary {
  background-color: $primary;
  &:hover {
    background-color: #f19a30;
  }
}
.secondary {
  background-color: $secondary;
  &:hover {
    background-color: #35373d;
  }
}
