@import 'styles/theme.scss';

.button {
  //color: white;
  color: $background;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  border: 0;
  padding: 8px 16px;
}
.primary {
  background-color: $primary;
  &:hover {
    background-color: #f19a30;
  }
}
.secondary {
  background-color: $secondary;
  color: white !important;
  &:hover {
    background-color: #35373d;
  }
}
.disabled {
  cursor: default;
  background-color: $gray !important;
  &:hover {
    background-color: $gray;
  }
}
.fullWidth {
  padding: 16px;
  width: 100%;
}
.isLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: -4.5px;
}
