@import 'styles/theme.scss';

.assetInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 0px 8px;
  border-radius: 6px;
  background-color: $secondary;
  border: 1px solid transparent;
  height: 42px;
  cursor: default;
  position: relative;
  &:hover {
    border-color: $primary;
  }
  .input {
    width: 100%;
    height: 100%;
    margin: 0px 10px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 16px;
    padding-top: 5px;
    text-align: end;
  }
}
.inputContainerError {
  border-color: $red;
  &:hover {
    border-color: $red;
  }
  &:after {
    position: absolute;
    text-align: end;
    background: $gray;
    border-radius: 6px;
    color: #fff;
    content: attr(title);
    bottom: 55px;
    right: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 8px;
    height: 20px;
    line-height: 20px;
  }
  &:before {
    position: absolute;
    border: solid;
    border-color: $gray transparent;
    border-width: 8px 6px 0 6px;
    content: '';
    right: 10%;
    bottom: 47px;
  }
}
.percentInputsContainer {
  width: 100%;
  display: flex;
  gap: 6px;
  .percentInput {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;

    input {
      cursor: pointer;
      outline: none;
      border: 1px solid $gray;
      background-color: transparent;
      width: 100%;
      height: 16px;
      border-radius: 6px;
    }
    label {
      color: $gray;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .percentInputBuy {
    &:hover {
      background-color: $green;
      border-color: transparent;
      & ~ label {
        color: $green;
      }
    }
  }
  .percentInputBuyActive {
    background-color: $green !important;
    border-color: transparent !important;
    & ~ label {
      color: $green;
    }
  }
  .percentInputSell {
    &:hover {
      background-color: $red;
      border-color: transparent;
      & ~ label {
        color: $red;
      }
    }
  }
  .percentInputSellActive {
    background-color: $red !important;
    border-color: transparent !important;
    & ~ label {
      color: $red;
    }
  }
}

.infoContainer {
  border: 1px solid $gray;
  border-radius: 4px;
  margin-bottom: 16px;
  .infoItem {
    &:last-of-type {
      border-bottom: 0;
    }
    padding: 10px 12px;
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;

    .actionInfo {
      max-width: 90px;
      width: 100%;
    }
    .currencyInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      span {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      .moreInfo {
        transform: rotate(180deg);
      }
    }
  }
}
.actionBuyActive {
  background-color: $green;
  &:hover {
    background-color: #0be994;
  }
}
.actionSellActive {
  background-color: $red;
  &:hover {
    background-color: #f7314b;
  }
}
.isLoadingBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: -4.5px;
}
