@import 'styles/theme.scss';

.container {
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 101;

  .logoContainer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 215px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundGray;
    padding: 20px 20px;
    @media all and (max-width: 1280px) {
      flex-basis: 82px;

      span {
        display: none;
      }
    }
    span {
      font-size: 26px;
      font-weight: 700;
      color: $primary;
      margin-left: 10px;
    }
  }
  .headerBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 24px;
    background-color: $background;

    .activePage {
      cursor: pointer;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      align-items: center;
      span {
        margin-left: 6px;
      }
    }
    .userContainer {
      display: flex;
      align-items: center;
      margin-right: 10px;
      span {
        font-size: 24px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
}

.content {
  display: flex;

  .navContainer {
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    padding: 0px 14px;
    //min-width: 220px;
    background-color: $backgroundGray;
  }
  .childrenContainer {
    padding: 0px 24px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
