@import 'styles/theme.scss';

@media all and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .headerPnls {
    margin-top: 20px;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  .headerItem {
    margin-right: 170px;
    @media all and (max-width: 1024px) {
      margin-right: 50px;
    }

    .headerItemValueContainer {
      margin-top: 6px;
      display: flex;
      align-items: flex-start;
      .headerItemValue {
        font-size: 28px;
        font-weight: 500;
        margin-right: 6px;
      }
    }
  }
  .headerPnls {
    display: flex;
  }
}

.assetsTable {
  .assetsTableHeader {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray;
  }
  .assetsTableAsset {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    .assetsTableAssetName {
      margin: 0px 10px;
    }
    .assetsTableAssetSymbol {
      @media all and (max-width: 550px) {
        display: none;
      }
    }
  }
  .assetsTableAmount {
    flex-basis: 25%;
    text-align: end;
  }

  .assetsTablePrice {
    flex-basis: 25%;
    text-align: end;
  }
}
.tableRowContainer {
  cursor: pointer;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $gray;
  &:hover {
    background-color: $secondary;
  }
}
.allocationContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.preloader {
  height: 72px;
}
