@import 'styles/theme.scss';

.container {
  overflow-x: auto;
}

.table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  td,
  th {
    padding: 8px;
  }
  th {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: $gray;
    user-select: none;
    .tableHeaderItem {
      display: flex;
      align-items: center;
      div {
        cursor: pointer;
      }
      div:hover {
        color: $primary;
      }
    }
  }
  .sort {
    width: 10px;
    height: 5px;
    margin-left: 6px;
  }
  .desc {
    border-top: solid 5px $primary;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }
  .asc {
    border-bottom: solid 5px $primary;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }
  .watch {
    padding-left: 16px;
  }
  .sparkline {
    justify-content: center;
    padding-right: 16px;
  }
}

.tableRowContainer {
  border-top: 1px solid $gray;
  &:hover {
    background-color: $secondary;
  }
  li {
    list-style: none;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
  }
  .watch {
    text-align: left;
  }
  .ordNum {
    text-align: left;
  }
  .name {
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    a {
      min-width: 100%;
      width: 100%;
    }
    p {
      margin: 0 10px 0px 16px;
    }
    span {
      @media all and (max-width: 1024px) {
        display: none;
      }
      color: $gray;
    }
  }
  .price {
    text-align: left;
  }
  .change {
    text-align: left;
  }
  .marketCap {
    text-align: left;
  }
  .sparkline {
    min-width: 150px;
    height: 30px;
    text-align: center;
    padding-right: 16px;
  }
}
.foundQuantity {
  width: 100%;
  padding: 16px;
  border-top: 1px solid $gray;
}
