@import 'styles/theme.scss';

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .chart {
    height: 220px;
    width: 220px;
  }
  .chartItemsContainer {
    margin-left: 16px;
    .chartItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 6px 0px;
      padding: 2px 8px;
      border-radius: 8px;
      &:hover {
        background-color: $secondary;
        cursor: pointer;
      }
      .chartItemName {
        display: flex;
        align-items: center;
        margin-right: 16px;
        .chartItemColor {
          height: 8px;
          width: 8px;
          margin-right: 10px;
        }
        .bg_f3aa4e {
          background-color: $primary;
        }
        .bg_6076ff {
          background-color: #6076ff;
        }
        .bg_omato {
          background-color: tomato;
        }
        .bg_82bb47 {
          background-color: #82bb47;
        }
        .bg_gray {
          background-color: $gray;
        }
      }
      .chartItemValue {
        @media all and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.chartShimmer {
  height: 220px;
  width: 220px;
  background-color: $secondary;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .chartShimmerInner {
    height: 180px;
    width: 180px;
    background-color: $backgroundGray;
    border-radius: 100%;
  }
}

.chartItemNameShimmer {
  width: 70px;
  height: 24px;
  background-color: $secondary;
  border-radius: 6px;
  margin-right: 16px;
}
.chartItemValueShimmer {
  width: 50px;
  height: 24px;
  background-color: $secondary;
  border-radius: 6px;
}

// .shimmer {
//   animation: shimmer 3s;
//   animation-iteration-count: infinite;
//   background: linear-gradient(
//     to right,
//     $secondary 0%,
//     #4f5355 10%,
//     #5f6264 20%,
//     #4f5355 30%,
//     $secondary 40%,
//     $secondary 80%
//   );
//   background-size: 800px 100%;
// }
// @keyframes shimmer {
//   from {
//     background-position: -400px 0;
//   }
//   to {
//     background-position: 400px 0;
//   }
// }
