@import 'styles/theme.scss';

.inviteUrl {
  font-size: 18px;
  border: 1px solid $gray;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0px;
}
.educationContainer {
  display: flex;
  gap: 24px;
  @media all and (max-width: 768px) {
    flex-direction: column;
    column-gap: 24px;
  }
  .education {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 0px;
    .educationCurrency {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .educationCurrencyName {
        margin: 0px 8px;
      }
    }
    .educationBtn {
      align-self: flex-end;
      margin-top: 16px;
    }
  }
}
