@import 'styles/theme.scss';

.table {
  border: 0;
  border-spacing: 0;
  border-collapse: initial;
  width: 100%;
  text-align: center;
  .tableHeader {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    margin: 0;
    border-top: 1px solid $gray;
    li {
      list-style: none;
      text-align: left;
      flex-basis: 14%;
    }
  }
}
.tableDate {
  flex-basis: 18% !important;
  margin-right: 6px;
}
.tableSource {
  flex-basis: 8% !important;
}

.tableRowContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px solid $gray;
  margin: 0;

  &:hover {
    background-color: $secondary;
  }
  li {
    font-weight: 400;
    font-size: 18px;
    list-style: none;
    text-align: left;
    flex-basis: 14%;
  }
  .tableAsset {
    :hover {
      cursor: pointer;
      color: $primary;
      text-decoration: underline;
    }
  }
}
.list {
  padding: 0px 16px;
  margin: 0;
  :first-child {
    border: none !important;
    padding-top: 0 !important;
  }
  .li {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 0px;
    border-top: 1px solid $gray;
    .liRow {
      display: flex;
      justify-content: space-between;
    }
    .liRowDivider {
      height: 6px;
    }
  }
}
