@import 'styles/theme.scss';

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid $gray;
  cursor: pointer;
  margin: 0;

  &:hover {
    background-color: $secondary;
  }
  li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    p {
      margin: 0 10px 0px 16px;
    }
    span {
      color: $gray;
    }
  }
  .name {
    text-align: left;
    flex-basis: 35%;
  }
  .price {
    text-align: left;
    flex-basis: 18.3%;
  }
  .change {
    text-align: left;
    flex-basis: 18.3%;
  }
  .changeSuccess {
    color: $green;
  }
  .changeDanger {
    color: $red;
  }
  .marketCap {
    text-align: left;
    flex-basis: 20.3%;
  }
  .watch {
    text-align: center;
    flex-basis: 7%;
    justify-content: center;
  }
}
