@import 'styles/theme.scss';

.navItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: $gray;
  padding: 6px 12px;
  width: 187px;
  @media all and (max-width: 1280px) {
    width: 54px;
    span {
      display: none;
    }
  }
  &:hover {
    color: white;
    cursor: pointer;
    background-color: $secondary;
    border-radius: 8px;
  }
  span {
    font-size: 22px;
    font-weight: 500;
    margin-left: 12px;
  }
}
.navItemActive {
  color: white;
}
